<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理</title>
    <link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap/default/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/app/admin/index.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
	<!--左侧区域-->
        <div class="col-md-4">
        </div>
	<!--中间区域-->
	<div class="col-md-4 main-content">
          <div class="welcome-box">
	    感谢管理员的辛勤劳动。如果你不是管理员，请勿操作，否则你想看我们饿肚子吗？
          </div>
	  <ul class="nav nav-tabs" id="scheme-tabs" roles="tablist">
            <li role="presentation" class="active"><a href="#zdm-scheme">曾大妈方案</a></li>
            <li role="presentation" class=""><a href="#manual-scheme">手动录入方案</a></li>
          </ul>
          <div class="tab-content input-schemes">
            <div class="tab-pane active" id="zdm-scheme">
              <div class="menu-input-box">
		<textarea class="form-control" rows="10" placeholder="请将曾大妈的订餐信息原样复制到这里，切勿做任何处理"></textarea>
              </div>
	       <div class="button-collection">
		 <button type="button" class="btn btn-default btn-block menu-input-submit">提交给服务器进行解析</button>
               </div>
            </div>
            <div class="tab-pane" id="manual-scheme">
              <div class="menu-input-box">
		<div class="row menu-input-item-template">
		  <div class="col-xs-3">
		    <input type="text" class="form-control item" placeholder="编号">
		  </div>
		  <div class="col-xs-4">
		    <input type="text" class="form-control item" placeholder="菜名">
		  </div>
		  <div class="col-xs-5">
		    <input type="text" class="form-control item" placeholder="价格">
		  </div>
		</div>
	      </div>
              <div class="button-collection">
		<button type="button" class="btn btn-default btn-block menu-input-add">添加一种菜肴</button>
		<button type="button" class="btn btn-default btn-block menu-input-submit">提交当前菜单</button>
              </div>
	    </div>
          </div>
	  <div class="all-users-order">
	    所有用户的订单信息
	    <table class="table table-striped all-users-order-list">
              <thead>
		<tr>
                  <th>编号</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>订单详情</th>
                </tr>
              </thead>
              <tbody>
		<tr class="all-users-order-item-template">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="all-users-order-item-user-list"></td>
                </tr>
	      </tbody>
            </table>
	  </div>
        </div>
	<!--右侧区域-->
        <div class="col-md-4">
	</div>
      </div>
    </div>
    <script data-main="/public/js/app/admin/index" src="/public/js/lib/require.js"></script>
  </body>
</html>
