.main-content {
    margin: 100px auto auto auto;
}

.welcome-box {
    font-size: 14px;
    margin: 20px auto
}

div#zdm-scheme div.menu-input-box {
    margin: 20px 0px
}

div#manual-scheme div.menu-input-box {
    margin: 20px 0px
}

div#manual-scheme div.menu-input-item {
    margin: 3px 0px
}

div#manual-scheme div.menu-input-item-template {
    display: none
}

.all-users-order {
    margin: 30px 0px
}

.all-users-order-list {
    table-layout：fixed
}

.all-users-order-list td {
    word-break: break-all
}

.all-users-order-item-template {
    display: none
}

.all-users-order-item-user-list {
    width: 60%
}